.flexirails-container
  .flexirails
    / todo sortable logic
    %table
      %thead
        %tr
          - view.columns.each do |column|
            %th{ "data-attribute" => column }
              = view.t(column)
      %tbody
        - view.rows.each do |row|
          %tr.flexirow{ class: "row-#{row.id}" }
            - view.columns.each do |column|
              %td
                = view.render_column column, row, self