<div class="navigation">
  <%= render partial: '/flexirails/navigation', locals: { view: static_view } %>
</div>

<div class="content">
  <%= render_flexirails_view(static_view, { class: 'statics' }) %>
</div>